
<div class="container">
  <p>Form 4 -Introducing FormBuilder</p>
  
  
 <form #f=ngForm (ngSubmit)="onSubmit(f.value)">
    <hr>
    <input type="text" class="form-control" placeholder="Name" ngControl="name">
    <hr>
    <textarea class="form-control" rows="4" placeholder="Description" ngControl="description" ></textarea>
    
    <div ngControlGroup="smallstuff" class="test" #spy>
    <input type="text" class="form-control" placeholder="Name" ngControl="name2" required #spy1>
        <p>{{spy1.className}}  </p>
    <input type="number" class="form-control" placeholder="Name" ngControl="name3" #spy2 >
    <p>{{spy2.className}}  </p>
    <input type="text" class="form-control" placeholder="Name" ngControl="name4" #spy3>
    <p>{{spy3.className}}  </p>
     <p>Yo : {{spy.className}}</p>
     </div>
    
    <button [disabled]="!f.valid" class="btn btn-primary" >Save</button>
  </form>
  
    <p>This is what's going to the server</p>
  <code>{{formdata}}</code>
</div>
