<div class="container">
  <p>Form 5 -Observing changes, listening in on valueChanges</p>
  
 <form [ngFormModel]="userForm" (ngSubmit)="onSubmit()">
    <hr>

    <input type="text" class="form-control" placeholder="Name" ngControl="name">
     <control-messages control="name"></control-messages>
    <hr>
    <textarea class="form-control" rows="4" placeholder="Description" ngControl="description" ></textarea>
    
    <div ngControlGroup="contact" >
    <input type="text" class="form-control" placeholder="email1" ngControl="email1">
     <control-messages control="contact.email1"></control-messages>
    <input type="text" class="form-control" placeholder="email2" ngControl="email2"  >
     <control-messages control="contact.email2"></control-messages>  
    <input type="number" class="form-control" placeholder="telephonenr" ngControl="telephone" >
    <control-messages control="contact.telephone"></control-messages>  
    <input type="number" class="form-control" placeholder="Alternative telephone" ngControl="telephone2" >

     </div>
    
    <button [disabled]="!userForm.valid" class="btn btn-primary" >Save</button>
  </form>
  
    <p>This is what's going to the server</p>
  <code>{{formdata}}</code>
  <p>This is what eventemitter told me: All of it: </p>
  <code>{{eventEmitterData}}</code>
  <p>controlgroup</p>
  <code>{{cgroupData}}</code>
  
    <p>Email1</p>
  <code>{{email1Data}}</code>
</div>
